[Unit]
Description=Xconfig Agent Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cw-agent daemon
Restart=on-failure
RestartSec=5
User=root
Environment=RUST_LOG=info
WorkingDirectory=/var/lib/cw-agent

# 可选日志文件（如需）
# StandardOutput=append:/var/log/cw-agent.log
# StandardError=append:/var/log/cw-agent.err

[Install]
WantedBy=multi-user.target
